
<div class="card">
	<div class="card-body">
		<h2>{{post.title}}</h2>
		<h4>{{post.description}}</h4>
		<p>{{post.content}}</p>
		<a href="/admin/post/edit/{{post._id}}">
			<button class="btn btn-success mt-2">Edit</button>
		</a>
		<a href="/admin/post/delete/{{post._id}}">
			<button class="btn btn-danger mt-2">Delete</button>
		</a>
		{{!-- <form action="/admin/posts/delete" method="POST">
			<input type="hidden" name="id" value="{{post._id}}">
			<button type="submit" class="btn btn-danger mt-2">Delete</button>
		</form> --}}
	</div>
</div>

