<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Hello everyone! Welcome to my blog!</h1>
  <p class="lead">Read some of my posts and comment down whatever u'd like.</p>
  <hr class="my-4">
  <p>Here you will find some random stuff about what I like to say. I really don't know where all of these come from, just spill it out and that's it. If you would like get a hot coffe or tea, a warm blanket and lofi beat to enjoy the read.</p>
  {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
</div>

{{!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/shiro.jpg" class="w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../img/sunrise.jpg" class="w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../img/sunset.jpg" class="w-100" alt="...">
    </div>
  </div>
</div> --}}

<hr>
<h2>Recent posts:</h2>
<hr>
{{#each posts}}
	<div class="card">
		<div class="card-body">
			<h3>{{title}}</h3>
			<h6>{{description}}</h6>
			<p>{{content}}</p>
			<p style="color:red">{{category.name}}</p>
			<small>{{creationDate}}</small>
      <div class="mt-2">
        <a href="/post/{{_id}}"><button class="btn btn-success">Read more</button></a>
      </div>
      
		</div>
	</div>
{{else}}
	<h4>Working to create the best content for you S2</h4>
{{/each}}